<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.geonature.occtax">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.geonature.datasync.features.settings.presentation.ConfigureServerSettingsActivity"
            android:exported="false"
            android:label="@string/activity_configure_server_settings_title" />
        <activity
            android:name="fr.geonature.datasync.ui.login.LoginActivity"
            android:label="@string/activity_login_title"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.settings.PreferencesActivity"
            android:label="@string/activity_preferences_title"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.dataset.DatasetListActivity"
            android:label="@string/activity_dataset_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.observers.InputObserverListActivity"
            android:label="@string/activity_observers_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.input.InputPagerFragmentActivity"
            android:label="@string/activity_input_title"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.input.taxa.TaxaFilterActivity"
            android:label="@string/activity_taxa_filter_title" />
        <activity android:name=".ui.input.counting.EditCountingMetadataActivity" />
        <activity
            android:name=".ui.input.counting.MediaListActivity"
            android:label="@string/activity_counting_media_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--+
           | remove the default initializer
           +-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <provider
            android:name="fr.geonature.commons.data.MainContentProvider"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            android:readPermission="@string/permission_read"
            android:writePermission="@string/permission_write" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>