<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.geonature.occtax"
    android:sharedUserId="@string/sharedUserId">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.PreferencesActivity"
            android:label="@string/activity_preferences_title" />
        <activity
            android:name=".ui.dataset.DatasetListActivity"
            android:label="@string/activity_dataset_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.observers.InputObserverListActivity"
            android:label="@string/activity_observers_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.input.InputPagerFragmentActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.input.taxa.TaxaFilterActivity"
            android:label="@string/activity_taxa_filter_title" />
        <activity android:name=".ui.input.counting.EditCountingMetadataActivity" />

    </application>

</manifest>